
<%= simple_form_for([@video, Comment.new]) do |f|%>
			
		<div class="container" style="padding: 0px">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-1" style="padding: 0px 12px">
						<% if user_signed_in?%>
							<%= image_tag(current_user.foto, class:'img-circle img-responsive', style: 'width: 38px; height: 38px;') %>
						<% else %>
							<%= image_tag("default.jpg", class:'img-circle img-responsive', style: 'width: 38px; height: 38px;') %>	
						<% end %>
					</div>
					<div class="col-xs-9" style="padding: 0px">
						<%= f.input :content, placeholder: "Add a public comment...", label: false, 
							input_html: {style: 'height:35px'} %>			
					</div>
					<div class="col-xs-2" style="padding-top: 0px">
						<%= f.submit "Comment", class: 'btn btn-primary' %>					
					</div>		
				</div>
			</div>
		</div>	
		
<% end %>	

