  <div class="fb-profile" style="margin-top:-3px;">
    <%# if wall any?  %>
    <% unless @user.wall.blank? %>
      <%= image_tag(@user.wall.url, class:'fb-image-lg cover', align: 'left',style: 'height: 330px;') %>
    <% else %>
      <%= image_tag('default_wall.jpg', class:'fb-image-lg cover', align: 'left',style: 'height: 330px;') %>  
    <% end %>
    <%# end if wall any?  %>

    <%# if photo any?  %>
    <% unless @user.foto.blank? %>
      <%= image_tag(@user.foto.url, class:'fb-image-profile thumbnail', align: 'left',style: 'width: 200px; height: 200px;') %>      
    <% else %>
      <%= image_tag("default.jpg", class:'fb-image-profile thumbnail', align: 'left',style: 'width: 200px; height: 200px;') %>
    <% end %>
    <%# end if photo any?  %>
    
    <div class="fb-profile-text">
        <h1><%= @user.username %><%= render 'following/follow', user: @user %></h1>        
          <%# any bio %>
        <% if @user.bio? %>
          <p><%= @user.bio %></p>
        <% else %>
          <p>unknown</p>
        <% end %>
        <%# end any bio %>
        <%# Post and Posts %>
        <% if @user.videos.count > 1%>
          <h4><%= @user.videos.count %> Posts &nbsp; <%= @user.follows.count %> Followers &nbsp; <%= Follow.where(:user_id => @user.id).count  %> Following
          &nbsp; <%= Video.where("user_id = ? and status = ?", @user.id, 'Private').count %> Private Posts</h4>
        <% else %>
          <h4><%= @user.videos.count %> Post &nbsp; <%= @user.follows.count %> Followers &nbsp; <%= Follow.where(:user_id => @user.id).count  %> Following
          &nbsp; <%= Video.where("user_id = ? and status = ?", @user.id, 'Private').count %> Private Posts</h4>
        <% end %>
        <%# end Post and Posts %>  
        <div class="user-detail">
          <div class="row">
          <div class="col-md-9">
              
            </div>
            <div class="col-md-3">
              
            </div>
            
          </div>  
        </div>
    </div>
  </div>
      
  <hr>
  <br>
  <div class="row">
    <% if user_signed_in? %>
      <% follow_record = @user.follows.where('user_id = ? and following = ?', current_user.id, @user.id) %>
      <% if follow_record.any? %>
        <% if follow_record.first.status == true %>
            <% videos = @user.videos %>  
        <% elsif follow_record.first.status == false %>
            <% videos = @user.videos.where(status: 'Public') %>					
        <% end %>
      <% elsif @user==current_user %>
          <% videos = @user.videos %>
      <% else %>
          <% videos = @user.videos.where(status: 'Public') %>     
      <% end %>
      <% videos.each do |video| %>
        <div class="col-sm-6 col-md-3">
          <%= link_to (image_tag video.thumbnail.url, size: "350x240", class: 'img-responsive'), video %>
          <h5 style="font-weight: bold"><%= video.title %></h5>
          <h6 style="margin-top:-10px;"><%= video.views %> views | <%= time_ago_in_words(video.created_at) %> ago</h6>    
        </div>
      <% end %>
    <% else %>
      <% @user.videos.where(status: 'Public').each do |video| %>
        <div class="col-sm-6 col-md-3">
          <%= link_to (image_tag video.thumbnail.url, size: "350x240", class: 'img-responsive'), video %>
          <h5 style="font-weight: bold"><%= video.title %></h5>
          <h6 style="margin-top:-10px;"></h6><%= time_ago_in_words(video.created_at) %> ago</h6>    
        </div>
      <% end %>  
    <% end %>
        
  </div>  

