<br>
<video width="750" controls>
	<source src="<%= @video.video %>" type="video/mp4" />
</video>

<h5><%= @video.views %> views</h5> 	


<h3>
  <%= @video.title %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<% if user_signed_in? %>
	<% if @video.user_id == current_user.id %>
		<%= link_to 'Edit', edit_video_path(@video) %> |
		<%= link_to 'Destroy', video_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>
<% end %>
<%= link_to 'Back', videos_path %>

<h4>X Comments</h4>
<% if user_signed_in? %>
	<% if @video.user_id == current_user.id %>
		<p>Commenting publicly as <%= current_user.email%></p>
	<% end %>
<% else %>
	<p>Add a public comment</p>
<% end %>
<%= render 'comments/form' %> <br>

<%= render @video.comments %>




