<p id="notice"><%= notice %></p>

<video width="800" height="423" controls autoplay>
	<source src="<%= @video.video %>" type="video/mp4" />
</video> 	


<h3>
  <%= @video.title %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @video.status %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Destroy', video_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', videos_path %>

